body {
  text-align: center;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 550px;
}

.header--section {
  width: 550px;
  height: 65px;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

.logo {
  width: 31.31px;
  height: 26.22px;
  padding-inline: 20px 4px;
}

.logo--text {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
  color: #ffffff;
  width: 140.79px;
}

.header--text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #ffffff;
  width: 189px;
  height: 14px;
  padding-left: 125.21px;
}

.form--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
}

.input--forms {
  display: flex;
  gap: 17px;
}

.input1,
.input2 {
  width: 230px;
  height: 35px;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  box-sizing: border-box;
  text-indent: 10px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #0d0d0d;
}

.meme--btn {
  font-family: "Karla";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.06em;
  margin-top: 15px;
  color: #ffffff;
  width: 477px;
  height: 40px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
